$white: #ffff;
$whiteBlur: #ffffffcc;
$BgOff: #e7eefb;
$bgHover: #f7f9fd;

$linearLeftRed: #d30707;
$linearRightRed: #f05353;

$redPrimary: #ff0000;

$textPrimary: #000000;
$textSecondary: #0000008a;

$borderPrimary: #d7dde9;
$borderSecondary: #b0bbd1;
$borderTertiary: #eaecf0;

$bluePrimary: #0796d3;
$blueSecondary: #a0dcf6;
$blueTertiary: #53c0f0;

$dropShadow: #1018280d;
